<div class="py-3" style="height: calc(100% - 520px)">
    <derogation-items-list 
        *ngIf="derogationApiService.currentDerogationIsLoaded"
        [dergItems]="derogationApiService.currentDerogation.derogationItems"
        [disableActions]="true"></derogation-items-list>
    <involved-departments-list></involved-departments-list>
    
    <div class="row" style="height: 100%">
        <eng-operator-box class="col-4 pr-0"></eng-operator-box>
        <derogation-docs-list class="col-5 pl-2 pr-2"
                              *ngIf="derogationApiService.currentDerogationIsLoaded"
                              [derogation]="derogationApiService.currentDerogation">

        </derogation-docs-list>
        <derogation-mail-list class="col-3 pl-0"></derogation-mail-list>
    </div>
</div>