<div class="mt-1 panel panel-gray" style="padding: 3px">
    <h6 class="mb-1" style="font-weight: bold;">Date range:</h6>
    <hr class="m-1 mb-2" />

    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="useDateRange" style="height: 12px; width: 12px"
               [(ngModel)]="derogationApiService.derogationRequestModel.useDateRange" />
        <label class="form-check-label" style="font-size: small" for="useDateRange">Use date range</label>
    </div>

    <div class="input-group input-group-xsm mt-1">
        <div class="input-group-prepend">
            <span class="input-group-text" style="width: 60px">From:</span>
        </div>
        <input type="date" class="form-control"
               [(ngModel)]="derogationApiService.derogationRequestModel.fromDate"
               [disabled]="!derogationApiService.derogationRequestModel.useDateRange">
    </div>

    <div class="input-group input-group-xsm mt-1">
        <div class="input-group-prepend">
            <span class="input-group-text" style="width: 60px">To:</span>
        </div>
        <input type="date" class="form-control"
               [(ngModel)]="derogationApiService.derogationRequestModel.toDate"
               [disabled]="!derogationApiService.derogationRequestModel.useDateRange">
    </div>
</div>
