<div class="mt-1" style="border: 1px solid gray; border-radius: 5px; padding: 4px">
    <h6 class="mb-1" style="font-weight: bold;">Date range:</h6>
    <hr class="m-1 mb-2" />

    <div class="row">
        <label class="col-3 col-form-label col-form-label-sm" for="fromDate">From:</label>
        <div class="col-9">
            <input type="date" class="form-control form-control-sm" style="font-size: 0.7rem" id="fromDate"
                   [(ngModel)]="derogationApiService.derogationRequestModel.fromDate">
        </div>
    </div>
    <div class="row">
        <label class="col-3 col-form-label col-form-label-sm" for="toDate">To:</label>
        <div class="col-9">
            <input type="date" class="form-control form-control-sm" style="font-size: 0.7rem" id="toDate"
                   [(ngModel)]="derogationApiService.derogationRequestModel.toDate">
        </div>
    </div>
</div>