.diRow {
    background-color: rgb(230, 229, 229);
    font-size: small;
    /* font-weight: 600; */
    border: 1px solid dimgray;
    border-radius: 3px;
    margin-bottom: 1px;
    cursor: default;
    user-select: none;
    height: 25px;
}

.diRow:hover {
    background-color: rgb(240, 240, 240);
}

.diRowCell {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 24px;
    border-right: dimgray solid 1px
}

.tHeaderCell {
    display: inline-block;
    text-align: center
}