<div style="width: 250px; background-color: lightgray; padding: 10px; border-right: 2px solid gray; height: 100%">
    <a class="btn btn-sm btn-secondary" style="width: 100%; font-weight: 800"
       routerLink="/derogations">
        <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
        <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
        <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
        Back to list
    </a>
    <hr class="m-2" />
    <div class="panel"
         *ngIf="derogationApiService.currentDerogationIsLoaded">
        <h6 class="mb-1">
            Derogation:
            <span class="badge" style="color: white; background-color: dimgray; cursor: default">
                {{derogationApiService.currentDerogation.derogationId}}
            </span>
            <span class="ml-1 badge" style="cursor: default"
                  [ngClass]="{
                  'badge-success': status() === 'Approved',
                  'badge-info': status() === 'Ongoing',
                  'badge-danger': status() === 'Cancelled'
                  }">
                {{status()}}
            </span>
        </h6>
    </div>
    <hr class="m-2" />
    <approval-dashboard [disabled]="!availableForActions()"></approval-dashboard>
    <cancel-dashboard [disabled]="!availableForActions()"></cancel-dashboard>
    <hr class="m-2" />
    <eng-fi-options
        *ngIf="derogationApiService.currentDerogationIsLoaded"></eng-fi-options>
</div>