.dhRow {
    background-color: rgb(230, 229, 229);
    font-size: small;
    font-weight: 600;
    border: 1px solid dimgray;
    border-radius: 3px;
    margin-bottom: 1px;
    cursor: default;
    user-select: none;
    height: 25px;
}

.dhRow:hover { background-color: rgb(240, 240, 240); }

.dhRow.selected { background-color: rgb(250, 250, 250); }

.dhRowCell {
    height: inherit;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 24px;
    border-right: dimgray solid 1px
}