<div class="tableRow" style="user-select: none"
     (click)="derogationClick()"
     (dblclick)="derogationDoubleClick()"
     [ngClass]="{selected: derogationApiService.currentDerogation !== null && derogationApiService.currentDerogation.derogationId == derogation.derogationId}">
    <div class="tableRowCell" style="width: 5%">
        <span>{{derogation.derogationId}}</span>
    </div>
    <div class="tableRowCell" style="width: 12%">
        <span>{{derogation.createdDate | date:"dd-MM-yyyy HH:mm:ss"}}</span>
    </div>
    <div class="tableRowCell" style="width: 11%">
        <span>{{derogation.author ? derogation.author.derogationUser : derogation.owner}}</span>
    </div>
    <div class="tableRowCell" style="width: 7%">
        <span>{{derogation.factoryDepartment.department}}</span>
    </div>
    <div class="tableRowCell" style="width: 10%">
        <span *ngIf="derogation.derogationDepartments.length != 0" title="{{getDeptsNamesInQueue(derogation)}}">{{getDeptsNamesInQueue(derogation)}}</span>
    </div>
    <div class="tableRowCell" style="width: 3%">
        <span style="">{{derogation.ltime}}</span>
    </div>
    <div class="tableRowCell" style="width: 5%">
        <span>{{derogation.slt | number: "1.4-4"}}</span>
    </div>
    <div class="tableRowCell" style="width: 4%">
        <span>{{derogation.dcostP | number: "1.2-2"}}</span>
    </div>
    <div class="tableRowCell" style="width: 4%">
        <span>{{derogation.dcostF | number: "1.2-2"}}</span>
    </div>
    <div class="tableRowCell" style="width: 3%">
        <str-checkbox [id]="derogation.derogationId + '_appr'" [strCheckedValue]="derogation.approved" [isDisabled]="true"></str-checkbox>
    </div>
    <div class="tableRowCell" style="width: 3%">
        <str-checkbox [id]="derogation.derogationId + '_canc'" [strCheckedValue]="derogation.cancelled" [isDisabled]="true"></str-checkbox>
    </div>
    <div class="tableRowCell" style="width: 25%">
        <span>{{derogation.cancellationReason}}</span>
    </div>
    <div class="tableRowCell" style="width: 4%">
        <str-checkbox [id]="derogation.derogationId + '_offl'" [strCheckedValue]="derogation.offline" [isDisabled]="true"></str-checkbox>
    </div>
    <div class="tableRowCell" style="width: 4%">
        <span>{{getOperatorsCount()}}</span>
    </div>
</div>