<div class="mt-2 panel" style="height: 330px; padding: 3px">
    <h5 class="mb-1">
        <span class="badge" style="color: white; background-color: dimgray">Derogation Mail List</span>
    </h5>

    <div>
        <div class="tableHeader">
            <div class="tableHeaderCell" style="width: 40%">User</div>
            <div class="tableHeaderCell" style="width: 40%">Department</div>
            <div class="tableHeaderCell lastCell" style="width: 20%">Can appr.</div>
        </div>
    </div>

    <div style="overflow-y: scroll; height: calc(100% - 60px)"
         *ngIf="userApiService.usersListIsReceived">
        <mail-list-row *ngFor="let user of userApiService.usersList"
                       [user]="user">
        </mail-list-row>
    </div>

</div>
