<div style="height: calc(100vh - 60px)">
    <div class="mt-3 mb-1 mr-3 tableHeader">
        <div class="tableHeaderCell" style="width: 5%">DerId</div>
        <div class="tableHeaderCell" style="width: 12%">Date</div>
        <div class="tableHeaderCell" style="width: 11%">Author</div>
        <div class="tableHeaderCell" style="width: 7%">Dept</div>
        <div class="tableHeaderCell" style="width: 10%">PendingAppr</div>
        <div class="tableHeaderCell" style="width: 3%">Time</div>
        <div class="tableHeaderCell" style="width: 5%">SLT</div>
        <div class="tableHeaderCell" style="width: 4%">CostP</div>
        <div class="tableHeaderCell" style="width: 4%">CostF</div>
        <div class="tableHeaderCell" style="width: 3%">Appr</div>
        <div class="tableHeaderCell" style="width: 3%">Canc</div>
        <div class="tableHeaderCell" style="width: 25%">Cancel reason</div>
        <div class="tableHeaderCell" style="width: 4%">Offline</div>
        <div class="tableHeaderCell" style="width: 4%">EMPQty</div>
    </div>


    <div style="height: calc(100% - 40px); overflow-y: scroll"
         *ngIf="apiService.derogationListIsLoaded">


        <derogation-row *ngFor="let derogation of apiService.derogations"
                        [derogation]="derogation">

        </derogation-row>
    </div>
</div>