<div class="panel" style="height: 213px">
    <h5 class="mb-1"><span class="badge badge-secondary" style="background-color: dimgray">Items List</span></h5>

    <div class="mb-1 mr-3 tableHeader" >
        <div class="tableHeaderCell" style="width: 5%">WorkOrder</div>
        <div class="tableHeaderCell" style="width: 8%">Model name</div>
        <div class="tableHeaderCell" style="width: 8%">Product code</div>
        <div class="tableHeaderCell" style="width: 8%">Part No</div>
        <div class="tableHeaderCell" style="width: 7%">Part No desc.</div>
        <div class="tableHeaderCell" style="width: 8%">APart No</div>
        <div class="tableHeaderCell" style="width: 7%">APart No desc.</div>
        <div class="tableHeaderCell" style="width: 4%">Quantity</div>
        <div class="tableHeaderCell" style="width: 4%">AQuantity</div>
        <div class="tableHeaderCell" style="width: 17%">Reason</div>
        <div class="tableHeaderCell" style="width: 16%">Action</div>
        <div class="tableHeaderCell" style="width: 5%">Supplier</div>
        <div class="tableHeaderCell" style="width: 3%">Action</div>
    </div>

    <div style="overflow-y: scroll; height: 150px"
         *ngIf="derogationApiService.currentDerogationIsLoaded">
        <derogation-item-row *ngFor="let dergItem of dergItems"
                             [derogationItem]="dergItem"
                             [disableActions]="disableActions">

        </derogation-item-row>
    </div>
</div>
