<div class="panel mt-2" style="height: 330px; padding: 3px">
    <h5 class="mb-1">
        <span class="badge" style="color: white; background-color: dimgray">ENG Operator Box</span>
    </h5>
    <div>
        <div class="mb-1 mr-3 tableHeader">
            <div class="tableHeaderCell" style="width: 20%">Station</div>
            <div class="tableHeaderCell" style="width: 5%">HC</div>
            <div class="tableHeaderCell" style="width: 35%">User</div>
            <div class="tableHeaderCell" style="width: 35%">Date</div>
            <div class="tableHeaderCell" style="width: 5%; border-right: none">Rm</div>
        </div>
    </div>
    
    <div style="overflow-y: scroll; height: calc(100% - 90px)"
         *ngIf="derogationApiService.currentDerogationIsLoaded">
        <operator-row *ngFor="let operatorBox of derogationApiService.currentDerogation.operators"
                      [derogationOperator]="operatorBox"></operator-row>
    </div>
    <hr class="m-1"/>

    <div class="row mt-1 mx-0" style="height: 22px">
        <div class="col-7 input-group input-group-xsm pl-0">
            <div class="input-group-prepend">
                <span class="input-group-text">Workplace:</span>
            </div>
            <input type="text" class="form-control"
                   [ngClass]="{validateError: derogationApiService.validateErrors.engOperatorBoxStation}"
                   [(ngModel)]="operatorBoxItem.stationName">
        </div>

        <div class="col-3 input-group input-group-xsm">
            <div class="input-group-prepend">
                <span class="input-group-text">HC:</span>
            </div>
            <input type="number" class="form-control" min="1"
                   [ngClass]="{validateError: derogationApiService.validateErrors.engOperatorBoxHc}"
                   [(ngModel)]="operatorBoxItem.hc">
        </div>

        <!-- <div class="col-2"> -->
            <button class="col btn btn-xsm btn-primary" style=""
                    (click)="addOperatorBoxItem()">Add</button>
        <!-- </div> -->
    </div>
</div>