<div class="col-5">
    <div class="form-group">
        <label>User:</label>
        <input [(ngModel)]="user.derogationUser"
               type="text" class="form-control" />
    </div>

    <label for="department_select">Department:</label>
    <select [(ngModel)]="user.department"
            class="custom-select" id="department_select" required>
        <option *ngFor="let dept of departmentApiService.departments" [ngValue]="dept.department">{{dept.department}}</option>>
    </select>

    <div class="form-group">
        <label>MailBase:</label>
        <input type="text" [(ngModel)]="user.userMailBase" class="form-control" />
    </div>

    <str-checkbox [id]="'admin'" [(strCheckedValue)]="user.admin" [label]="'IsAdmin'"></str-checkbox>
    <str-checkbox [id]="'canCreate'" [(strCheckedValue)]="user.canCreate" [label]="'CanCreate'"></str-checkbox>
    <str-checkbox [id]="'canApprove'" [(strCheckedValue)]="user.canApprove" [label]="'CanApprove'"></str-checkbox>
    <str-checkbox [id]="'inMail'" [(strCheckedValue)]="user.inMail" [label]="'InMail'"></str-checkbox>
</div>