<div class="col-6">
    <div class="form-group">
        <label>User:</label>
        <input type="text" [(ngModel)]="user.derogationUser" class="form-control" />
    </div>
    <div class="form-group">
        <label>Department:</label>
        <input type="text" [(ngModel)]="user.department" class="form-control" />
    </div>
    <div class="form-group">
        <label>MailBase:</label>
        <input type="text" [(ngModel)]="user.userMailBase" class="form-control" />
    </div>
    <div class="form-group">
        <label>IsAdmin:</label>
        <input type="text" [(ngModel)]="user.admin" class="form-control" />
    </div>
    <div class="form-group">
        <label>CanCreate:</label>
        <input type="text" [(ngModel)]="user.canCreate" class="form-control" />
    </div>
    <div class="form-group">
        <label>CanApprove:</label>
        <input type="text" [(ngModel)]="user.canApprove" class="form-control" />
    </div>
    <div class="form-group">
        <label>InMail:</label>
        <input type="text" [(ngModel)]="user.inMail" class="form-control" />
    </div>
</div>