.idRow {
    background-color: rgb(230, 229, 229);
    font-size: small;
    font-weight: 600;
    border: 1px solid dimgray;
    border-radius: 3px;
    margin-bottom: 1px;
    cursor: default;
    user-select: none;
    height: 25px;
}

.idRow:hover {
    background-color: rgb(240, 240, 240);
}

.idRowCell {
    height: inherit;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 24px;
    border-left: dimgray solid 1px
}