<div style="width: 250px; background-color: lightgray; padding: 10px; border-right: 2px solid gray; height: calc(100vh - 40px)">
    <a class="btn btn-sm btn-primary" style="width: 100%; font-weight: 800" routerLink="/derogations/new">New Derogation</a>
    <hr class="m-2" />

    <show-last-count></show-last-count>

    <div class="mt-2" style="border: 1px solid gray; border-radius: 5px; padding: 4px">

        <div class="panel panel-gray">
            <h6 class="mb-1" style="font-weight: bold;">Filters:</h6>
            <hr class="m-1"/>

            <data-filter></data-filter>
            <hr class="m-1"/>

            <status-filter></status-filter>
        </div>

        <date-range></date-range>

        <div class="mt-2 form-inline">
            <button class="btn btn-sm btn-success" (click)="applyClick()">Apply filters</button>
            <button class="btn btn-sm btn-warning ml-2" (click)="resetClick()">Reset filters</button>
        </div>
    </div>
</div>