<div style="width: 250px; background-color: lightgray; padding: 10px; border-right: 2px solid gray; height: 100%">
    <button class="btn btn-sm btn-primary" style="width: 100%; font-weight: bold">New Derogation</button>
    <hr class="m-2" />

    <show-last-count></show-last-count>

    <div class="mt-2" style="border: 1px solid gray; border-radius: 5px; padding: 4px">

        <div style="border: 1px solid gray; border-radius: 5px; padding: 4px">
            <h6 class="mb-1" style="font-weight: bold;">Filters:</h6>
            <hr class="m-1"/>

            <data-filter></data-filter>
            <hr class="m-1"/>

            <status-filter></status-filter>
        </div>

        <date-range></date-range>

        <div class="mt-2 form-inline">
            <button class="btn btn-sm btn-success">Apply filters</button>
            <button class="btn btn-sm btn-warning ml-2">Reset filters</button>
        </div>
    </div>
</div>