<div class="mx-3 my-1">
    <div class="row justify-content-between mx-0 mb-2">
        <h5>List of Users</h5>
        <div class="input-group input-group-sm col-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1" title="Filter">
                    <i class="fa fa-filter" aria-hidden="true"></i>
                </span>
            </div>
            <input [(ngModel)]="filter"
                   (ngModelChange)="filterChange()"
                   type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <button class="btn btn-sm btn-primary ml-5" (click)="addNewClick()">Add new user</button>
    </div>
    <table class="table table-striped table-sm">
        <thead>
        <tr>
            <th>derogationUser</th>
            <th></th>
            <th>Department</th>
            <th>userMailBase</th>
            <th>admin</th>
            <th>canCreate</th>
            <th>canApprove</th>
            <th>inMail</th>
        </tr>
        </thead>
        <tbody>
            <tr *ngFor="let u of users">
                <td>
                    <a [routerLink]="['user', u.id]">{{u?.derogationUser}}</a>
                </td>
                <td>
                    <span class="badge badge-danger" (click)="deleteUser(u.id)" style="cursor: default;" title="Delete">X</span>
                </td>
                <td><a [routerLink]="['/departments/department', u.department]">{{u?.department}}</a></td>
                <td>{{u?.userMailBase}}</td>
                <td><str-checkbox [id]="u.id + '_admin'" [strCheckedValue]="u.admin" [isDisabled]="true"></str-checkbox></td>
                <td><str-checkbox [id]="u.id + '_canCreate'" [strCheckedValue]="u.canCreate" [isDisabled]="true"></str-checkbox></td>
                <td><str-checkbox [id]="u.id + '_canApprove'" [strCheckedValue]="u.canApprove" [isDisabled]="true"></str-checkbox></td>
                <td><str-checkbox [id]="u.id + '_inMail'" [strCheckedValue]="u.inMail" [isDisabled]="true"></str-checkbox></td>
            </tr>
        </tbody>
    </table>
</div>