<div class="mt-2 panel" style="height: 302px">
    <h5 class="mb-1"><span class="badge badge-secondary" style="background-color: dimgray">Involved Departments List</span></h5>

    <div class="mb-1 mr-3 tableHeader" >
        <div class="tableHeaderCell" style="width: 10%">Department</div>
        <div class="tableHeaderCell" style="width: 5%">Step</div>
        <div class="tableHeaderCell" style="width: 4%">Train</div>
        <div class="tableHeaderCell" style="width: 4%">Appr</div>
        <div class="tableHeaderCell" style="width: 25%">Comment</div>
        <div class="tableHeaderCell" style="width: 4%">Rej</div>
        <div class="tableHeaderCell" style="width: 4%">CReq</div>
        <div class="tableHeaderCell" style="width: 15%">Canc. reason</div>
        <div class="tableHeaderCell" style="width: 4%">Chkd</div>
        <div class="tableHeaderCell" style="width: 10%">User</div>
        <div class="tableHeaderCell" style="width: 15%">Date</div>
    </div>
    
    <div style="overflow-y: scroll; height: 240px"
         *ngIf="derogationApiService.currentDerogationIsLoaded">
        <inv-department-row *ngFor="let invDepartment of getSortedInvolvedDepartments()"
                            [involvedDepartment]="invDepartment">

        </inv-department-row>
    </div>
</div>