<div class="col-4">
    <div class="form-group">
        <label for="deptCode">Department code:</label>
        <input type="text" class="form-control" id="deptCode"
               [(ngModel)]="department.department"
               [disabled]="disabled"/>
    </div>
    <div class="form-group">
        <label for="mailStep">MailStep:</label>
        <input type="number" class="form-control" id="mailStep"
               [(ngModel)]="department.mAilStep"
               [disabled]="disabled"/>
    </div>
    <str-checkbox
            [id]="'mandatory'"
            [(strCheckedValue)]="department.mandatory"
            [label]="'Mandatory'"
            [isDisabled]="disabled">
    </str-checkbox>

    <str-checkbox
            [id]="'ltimeAccess'"
            [(strCheckedValue)]="department.ltimeAccess"
            [label]="'LtimeAccess'"
            [isDisabled]="disabled">
    </str-checkbox>

    <str-checkbox
            [id]="'dCostAccess'"
            [(strCheckedValue)]="department.dCostAccess"
            [label]="'DCostAccess'"
            [isDisabled]="disabled">
    </str-checkbox>

    <str-checkbox
            [id]="'addDept'"
            [(strCheckedValue)]="department.addDept"
            [label]="'AddDept'"
            [isDisabled]="disabled">
    </str-checkbox>

    <str-checkbox
            [id]="'toBeAdded'"
            [(strCheckedValue)]="department.toBeAdded"
            [label]="'ToBeAdded'"
            [isDisabled]="disabled">
    </str-checkbox>

    <str-checkbox
            [id]="'onlyMail'"
            [(strCheckedValue)]="department.onlyMail"
            [label]="'OnlyMail'"
            [isDisabled]="disabled">
    </str-checkbox>
</div>