<div class="col-6">
    <div class="form-group">
        <label>Department code:</label>
        <input type="text" [(ngModel)]="department.department" class="form-control" />
    </div>
    <div class="form-group">
        <label>MAilStep:</label>
        <input type="number" [(ngModel)]="department.mAilStep" class="form-control" />
    </div>
    <div class="form-group">
        <label>Mandatory:</label>
        <input type="text" [(ngModel)]="department.mandatory" class="form-control" />
    </div>
    <div class="form-group">
        <label>Mandatory:</label>
        <input type="text" [(ngModel)]="department.ltimeAccess" class="form-control" />
    </div>
    <div class="form-group">
        <label>Mandatory:</label>
        <input type="text" [(ngModel)]="department.dCostAccess" class="form-control" />
    </div>
    <div class="form-group">
        <label>Mandatory:</label>
        <input type="text" [(ngModel)]="department.addDept" class="form-control" />
    </div>
    <div class="form-group">
        <label>Mandatory:</label>
        <input type="text" [(ngModel)]="department.toBeAdded" class="form-control" />
    </div>
    <div class="form-group">
        <label>Mandatory:</label>
        <input type="text" [(ngModel)]="department.onlyMail" class="form-control" />
    </div>
</div>