<div class="m-1">
    <span style="font-weight: bold; color: rgb(79, 79, 79); font-size: .9rem; text-decoration: underline">By data:</span>
    <div class="row">
        <label for="dId" class="col-6 col-form-label col-form-label-sm">Derog. Id:</label>
        <div class="col-6">
            <input type="number" class="form-control form-control-sm" style="font-size: 0.7rem" id="dId">
        </div>
    </div>
    <div class="row">
        <label for="wo" class="col-6 col-form-label col-form-label-sm">Work order:</label>
        <div class="col-6">
            <input type="text" class="form-control form-control-sm" style="font-size: 0.7rem" id="wo">
        </div>
    </div>
    <div class="row">
        <label for="mName" class="col-6 col-form-label col-form-label-sm">Model name:</label>
        <div class="col-6">
            <input type="text" class="form-control form-control-sm" style="font-size: 0.7rem" id="mName">
        </div>
    </div>
    <div class="row">
        <label for="pNumber" class="col-6 col-form-label col-form-label-sm">Part number:</label>
        <div class="col-6">
            <input type="text" class="form-control form-control-sm" style="font-size: 0.7rem" id="pNumber">
        </div>
    </div>
    <div class="row">
        <label for="dOwner" class="col-6 col-form-label col-form-label-sm">Dept owner:</label>
        <div class="col-6">
            <select class="form-control form-control-sm" style="font-size: 0.7rem" id="dOwner">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
    </div>
</div>