<div class="m-1">
    <span style="font-weight: bold; color: rgb(79, 79, 79); font-size: .9rem; text-decoration: underline">By data:</span>

    <div class="input-group input-group-xsm mt-1">
        <div class="input-group-prepend">
            <span class="input-group-text" style="width: 100px">Derog. Id:</span>
        </div>
        <input type="number" class="form-control"
               [(ngModel)]="derogationApiService.derogationRequestModel.derogationId">
    </div>

    <div class="input-group input-group-xsm mt-1">
        <div class="input-group-prepend">
            <span class="input-group-text" style="width: 100px">Work order:</span>
        </div>
        <input type="number" class="form-control"
               [(ngModel)]="derogationApiService.derogationRequestModel.workOrder">
    </div>

    <div class="input-group input-group-xsm mt-1">
        <div class="input-group-prepend">
            <span class="input-group-text" style="width: 100px">Model name:</span>
        </div>
        <input type="text" class="form-control"
               [(ngModel)]="derogationApiService.derogationRequestModel.modelName">
    </div>

    <div class="input-group input-group-xsm mt-1">
        <div class="input-group-prepend">
            <span class="input-group-text" style="width: 100px">Part number:</span>
        </div>
        <input type="text" class="form-control"
               [(ngModel)]="derogationApiService.derogationRequestModel.partNumber">
    </div>

    <div class="input-group input-group-xsm mt-1">
        <div class="input-group-prepend">
            <span class="input-group-text" style="width: 100px">Dept owner:</span>
        </div>
        <select type="text" class="form-control" style="font-weight: normal"
                [(ngModel)]="derogationApiService.derogationRequestModel.departmentOwner">
            <option value="All">All</option>
            <option *ngFor="let dept of departmentApiService.departments" [value]="dept.department">{{dept.department}}</option>
        </select>
    </div>
</div>